@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --base-color: #F9F7F7;
    --section-color: #DBE2EF;
    --text-color: #3F72AF;
    --button-color: #112D4E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Manrope, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family: Merriweather, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: Merriweather, Manrope;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color)
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--section-color);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

header img {
    flex: 0 1 20em;
    max-width: 100%;
    min-width: 0;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em;
    min-width: 0;
}

h1 {
    font-size: 2.5rem;
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.header-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--button-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--section-color);
    text-align: center;
}

h2 {
    font-size: 2rem;
}

section p {
    margin-top: 1em;
    font-size: 1.25;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
